table, th, td {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid black;
  border-collapse: collapse;
}

table.scroll thead tr:first-child th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100px;
  background: #BBBBBB;
  border: none;
}

table.scroll thead th.r2 {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  background: #BBBBBB;
  border: none;
}

table.scroll {
  display: block;
  height: 450px;
  overflow-y: scroll;
}

td {
  text-align: center;
}

table.scroll tfoot td {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background: #FFFFFF;
  border: none;
}
